@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #faf7f8;
}

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.sideNav .search input {
    padding: 0.5rem;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #191919;
    text-align: center;
    font-family: 'geologica';
}

.sideNav .range {
    background-color: white;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 0 32px #1919194b;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav .range .formRange {
    display: flex;
    position: relative;
}

.sideNav .range .formRange input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #cecece;
    cursor: pointer;
    height: 4px;
    border-radius: 6px;
}

.sideNav .range .formRange input::-webkit-progress-value {
    background: #191919;
}

.sideNav .range .formRange input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: #191919;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.sideNav .range .formRange span {
    font-family: 'Geologica';
    font-size: .8rem;
    background-color: #191919;
    color: #faf7f8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-bottom: .1rem;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav .buttonTri button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #191919;
    color: #faf7f8;
    font-family: 'geologica';
    cursor: pointer;
}

/* Grid Container */

.gridContainer {
    max-width: 1300px;
    padding: 2rem 0;
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 2rem;
    justify-content: center;
}